<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    backupGlobals="false"
    colors="true"
    verbose="true"
    cacheDirectory=".phpunit.cache">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="opcache.enable" value="1"/>
        <ini name="opcache.jit_buffer_size" value="100M"/>
        <ini name="opcache.jit" value="tracing"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Unit test suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
